@import url('https://fonts.googleapis.com/css?family=Bitter');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Concert+One');
@import url('https://fonts.googleapis.com/css?family=Anton');
@import url('https://fonts.googleapis.com/css?family=Quicksand');

.header-title{
	font-family: 'Quicksand', sans-serif;
	font-size: 30px;
}

.center-form{
	margin-left: 50px;
	margin-right:  50px;}

.center-button{
	margin-left: 40%;
}

.text-resize{
	font-size: 14px;
}

.title-alert{
	font-family: 'Fjalla One', sans-serif;
}

.text-alert{
	font-family: 'Josefin Sans', sans-serif;
}

.title-index{
	font-family: 'Quicksand', sans-serif;
}

.header-nav{
	font-family: 'Quicksand', sans-serif;
	 color: #4b646f;
  background: #1a2226;
}
